@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600&display=swap');

:root {
    --color-white: #ffffff;
    --color-black: #18181C;
    --color-grey: #c2c4cc;
    --color-blue: hsl(213, 63%, 49%);
    --color-green: #51B37F;
    --color-red: #c64022;
    --color-orange: #df9431;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;


    --fs-title: 40px;
    // --fs-title-tablet: ;
    // --fs-title-phone: ;

    --fs-subtitle: 30px;
    // --fs-subtitle-tablet: ;
    // --fs-subtitle-phone: ;

    --fs-text: 20px;
    // --fs-text-tablet: ;
    // --fs-text-phone: ;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    display: inline-block;
}

body {
    background: var(--color-white);
    text-rendering: optimizeSpeed;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--color-black);


    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-blue);
        border-radius: 100vh;
    }
}

*::selection {
    background: var(--color-black);
    color: var(--color-white);
}


.header {
    display: flex;
    background: var(--color-grey);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .logo {
        width: 100px;
    }

    nav {
        width: 80%;
        display: flex;
        justify-content: flex-end;

        a {
            margin: 0 50px 0 0;
            font-size: var(--fs-text);
        }

        a:hover {
            border-bottom: 1px solid var(--color-blue);
        }
    }

    .user-login {
        width: 40px;
    }
}


.qui-nous-sommes {
    padding: 50px 100px 100px 100px;

    h2 {
        font-size: var(--fs-title);
    }

    &-content {
        display: flex;

        p {
            width: 60%;
            font-size: var(--fs-text);
            margin: 50px 50px 0 0;
        }

        img {
            width: 40%;
        }
    }
}

.proposition {
    padding: 50px 100px 100px 100px;

    h2 {
        font-size: var(--fs-title);
    }
}


.footer {
    background: var(--color-grey);
    padding: 50px 100px;


    .footer-top {
        display: flex;

        &-card {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin: 0 80px;


            &-title {
                margin-bottom: 30px;
                font-size: var(--fs-text);
                color: var(--color-blue);
            }

            &-content {
                font-size: calc(var(--fs-text) - 5px);
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 30px;

                a:hover {
                    border-bottom: 1px solid var(--color-blue);
                }
            }

            .logo {
                width: 100px;
            }
        }
    }

    .footer-bottom {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
}




.form {
    &-title {
        text-align: center;
        margin-bottom: 30px;
        font-weight: var(--fw-bold);
        font-size: var(--fs-text);
        padding-bottom: 10px;
        border-bottom: 2px solid var(--color-blue);
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* ajouté par abdel (pour logo page connexion) */
        font-weight: var(--fw-light);
        width: 100vw;
        height: 100vh;

        a {
            color: var(--color-blue);
            text-decoration: underline;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: var(--color-blue);
        }

        input {
            width: 100%;
            outline: none;
            border: none;
            font-size: 14px;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--color-grey);

            &:focus {
                border-bottom-color: var(--color-blue);
            }
        }

        button {
            display: block;
            margin: 0 auto;
            border: none;
            padding: 0.5em 1em;
            border: 1px solid transparent;
            color: var(--color-white);
            background-color: var(--color-blue);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: var(--color-blue);
                background-color: transparent;
                border: 1px solid var(--color-blue);
            }
        }

        #connexion-form {
            width: 350px;
            padding: 30px;
            box-shadow: 0px 0px 1px rgb(0, 0, 0);
        }

        #login-button-return {
            cursor: pointer;
        }

        .connexion-container {
            margin-bottom: 30px;
        }

        .information {
            display: block;
            margin-top: 15px;
            text-align: center;
        }

        .connexion-logo {
            width: 150px;
            margin-bottom: 40px;
        }
    }
}

.nos-engagements {
    padding: 50px 100px 100px 100px;

    &-globaux {}

    &-card {
        margin-bottom: 75px;

        h3 {
            font-size: var(--fs-subtitle);
            margin-bottom: 20px;
        }

        p {
            font-size: var(--fs-text);
        }
    }
}