body {
    background-color: #95d0c8;
}

#container {
    margin: 15px;
}

#title {
    display: flex;
    align-items: center;
}

#title_pic{
    width: 48px;
    margin-right: 12px;
}

.singleInfo {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.singleInfo p {
    margin: 0;
}