.form-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-text);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-blue);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* ajouté par abdel (pour logo page connexion) */
    font-weight: var(--fw-light);
    width: 100vw;
    height: 100vh;
}

.form-container a {
    color: var(--color-blue);
    text-decoration: underline;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-blue);
}

.form-container input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-grey);
}

.form-container input:focus {
    border-bottom-color: var(--color-blue);
}

.form-container button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
    transition: all 0.2s;
}

.form-container button:hover {
    color: var(--color-blue);
    background-color: transparent;
    border: 1px solid var(--color-blue);
}

.form-container #connexion-form {
    width: 350px;
    padding: 30px;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.form-container #login-button-return {
    cursor: pointer;
}

.form-container .connexion-container {
    margin-bottom: 30px;
}

.form-container .information {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.form-container .connexion-logo {
    width: 150px;
    margin-bottom: 40px;
}