.wrapper-temp {
    height: 100vh;
    h3 {
        text-align: center;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
.temp-container {
    width: 80%;
}
}
